html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lexend-extralight';
}

@font-face {
  font-family: 'Allura';
  src: url(../public/fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: 'Lexend-thin';
  src: url(../public/fonts/Lexend-Thin.ttf);
}

@font-face {
  font-family: 'Lexend-extralight';
  src: url(../public/fonts/Lexend-ExtraLight.ttf);
}

@font-face {
  font-family: 'Lexend-light';
  src: url(../public/fonts/Lexend-Light.ttf);
}

@font-face {
  font-family: 'Lexend-regular';
  src: url(../public/fonts/Lexend-Regular.ttf);
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.App {
  margin: 0;
  width: 100%;
  height: 100%;
}

.loading {
  color: white;
}
