.login-main {
    width: 100%;
    height: 100%;
    background-color: black;
}

.login-field {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.login-header {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:end;
}

.login-title {
    color: white;
    position: relative;
    margin: 0;
    border: 0px;
    font-family: 'Allura';
    font-size: 80px;
    margin-bottom: 30px;
    cursor: default;
    user-select: none;
    margin-right: 10%;
    margin-left: 13%;
}

.login-exit-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 0px;
    border-radius: 20px;
    background-color: rgba(43, 43, 43, 0.8);
    margin-bottom: 7%;
}

.login-cross {
    color: white;
    transition: color 1s linear;
}

.login-exit-button:hover .login-cross{
    animation: cross-color-change 0.3s ease-in-out forwards;
}

@keyframes cross-color-change {
    0% {
      color: white;
    }
    100% {
      color: rgb(233, 0, 0);
    }
}

.login-input {
    width: 35%;
    height: 35px;
    border-radius: 15px;
    background-color: rgba(43, 43, 43, 0.8);
    color: white;
    margin-bottom: 30px;
    border: 0px;
    cursor: pointer;
    font-family: 'CormorantGaramond-Italic';
    font-size: 25px;
    padding-left: 15px;
}

.login-input::placeholder {
    color: rgba(216, 216, 216, 0.662);
    user-select: none;
}

.login-input:focus {
    outline: none;
}

.login-text {
    color: white;
    font-size: 25px;
    margin: 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
  
.login-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
.login-text:hover::after {
    transform: scaleX(1);
}

.login-button {
    width: 100px;
    height: 80px;
    cursor: pointer;
    margin-top: 130px;
    border: 0px;
    border-radius: 20px;
    background-color: rgba(43, 43, 43, 0.8);
}

.login-check {
    color: white;
    transition: color 1s linear;
    scale: 2;
}

.login-button:hover .login-check{
    animation: check-color-change 0.6s ease-in-out forwards;
}

@keyframes check-color-change {
    0% {
      color: white;
    }
    100% {
      color: rgb(140, 233, 0);
    }
}

@media (max-width: 768px) {
    .login-header {
        height: 20%;
    }

    .login-title {
        margin-right: 13%;
        margin-left: 21%;
    }

    .login-exit-button {
        margin-bottom: 30%;
    }

    .login-cross {
        color: rgb(233, 0, 0);;
    }

    .login-input {
        width: 80%;
    }

    .login-check {
        color:rgb(140, 233, 0);
    }
}

@media (min-width: 2100px) {

    .login-title {
        font-size: 150px;
        margin-bottom: 50px;
        margin-right: 12%;
        margin-left: 15%;
    }

    .login-exit-button {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }

    .login-cross {
        scale: 2;
    }

    .login-input {
        width: 40%;
        height: 50px;
        font-size: 40px;
    }

    .login-text {
        font-size: 40px;
    }

    .login-button {
        width: 140px;
        height: 120px;
    }

    .login-check {
        scale: 3;
    }
}