.header {
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-name {
    color: white;
    font-family: 'Lexend-regular';
    font-size: 30px;
    margin: 14px 0px 0px 10px;
    user-select: none;
}

.header-input-block {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    position: absolute;
}

.header-input {
    width: 70%;
    height: 43px;
    border-radius: 20px;
    background-color: rgba(52, 52, 52, 0.8);
    color: white;
    margin-bottom: 30px;
    border: 0px;
    cursor: pointer;
    font-family: 'Lexend-light';
    font-size: 20px;
    padding-left: 15px;
    margin-top: 15px;
    position: relative;
}

.header-input::placeholder {
    color: rgba(216, 216, 216, 0.662);
    user-select: none;
}

.header-input:focus {
    outline: none;
}

.header-button {
    width: 100px;
    height: 45px;
    border-radius: 20px;
    background-color: rgba(52, 52, 52, 0.8);
    color: white;
    font-family: 'Lexend-light';
    font-size: 20px;
    margin: 15px 20px 0px 5px;
    float: right;
}

.header-button-profile {
    width: 80px;
    height: 45px;
    border-radius: 20px;
    background-color: rgba(52, 52, 52, 0.8);
    color: white;
    font-family: 'Lexend-light';
    font-size: 20px;
    margin: 15px 20px 0px 5px;
    float: right;
}

.header-button-categories {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: rgba(52, 52, 52, 0.8);
    color: white;
    font-family: 'Lexend-light';
    font-size: 20px;
    margin: 18px 10px 0px 5px;
}

.header-button-arrow {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}

.header-button-arrow:hover {
    transform: rotate(0deg);
}

.header-profile {
    color: white;
}